@use "../abstracts/colours";

body {
  background-color: colours.$outer-background;
  color: colours.$foreground;
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 98vh;
  margin: 1vh 1vw;
}

input, button, select {
  background-color: colours.$current-line;
  color: colours.$foreground;
  border: colours.$input-outline solid 1px;
  border-radius: 3px;
  padding: 0 2px;
  font-family: 'Roboto Mono', sans-serif;

  &:disabled {
    background-color: colours.$disabled-input;
    color: colours.$disabled-input-text;
    cursor: not-allowed;
  }
}

button {
  font-family: 'Roboto', sans-serif;

  &:active {
    background-color: colours.$highlighted-tree;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}
