@import "../abstracts/colours";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: $background;
  color: $foreground;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

@mixin monospace {
  font-family: 'Roboto Mono', sans-serif;
}
