@use "../abstracts/colours";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

@mixin monospace {
  font-family: 'Roboto Mono', sans-serif;
}

.math-mode {
  font-family: 'Times New Roman', serif;
  font-style: italic;
}

.text-mode {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
