@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    /*darcula colour scheme*/
    --background: #282a36;
    --current-line: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
    --context-menu-background: #44475a;
    --highlighted-tree: #52566c;
    --input-outline: #14141a;
    --disabled-input: #3c3f4e;
    --disabled-input-text: #b6b7b6;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input {
    background-color: var(--current-line);
    color: var(--foreground);
    border: var(--input-outline) solid 1px;
    border-radius: 3px;
    padding: 0 2px;
    font-family: 'Roboto Mono', sans-serif;
}

input:disabled {
    background-color: var(--disabled-input);
    color: var(--disabled-input-text);
}

button {
    background-color: var(--current-line);
    color: var(--foreground);
    border: var(--input-outline) solid 2px;
    border-radius: 3px;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
}

button:disabled {
    background-color: var(--disabled-input);
    color: var(--disabled-input-text);
}

button:active {
    background-color: var(--highlighted-tree);
}

button:not(:disabled) {
    cursor: pointer;
}

select {
    background-color: var(--current-line);
    color: var(--foreground);
    border: var(--input-outline) solid 1px;
    border-radius: 3px;
    padding: 0 2px;
    font-family: 'Roboto', sans-serif;
}

form {
    display: inline;
}

#tree-container {
    border: var(--foreground) solid 1px;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#tree-container.file-drag-highlight {
    border: 2px dashed #4CAF50;
    background-color: #49494d;
}

#tree {
    /*margin-top: 30px;*/
    max-width: fit-content;
    overflow: visible;
    white-space: nowrap;
}

#tree, .subtree {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-self: flex-end;
    position: relative;
    border-radius: 3px;
}

.highlight {
    background-color: var(--highlighted-tree);
}

.args {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.expr {
}

.node {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

.annotation-axiom {
    align-self: end;
    margin-bottom: 7px;
    font-size: 12px;
    color: var(--comment);
}

.annotation-new {
    font-size: 12px;
    color: var(--comment);
    align-self: flex-end;
}

.axiom {
    display: flex;
    flex-direction: column-reverse;
}

.subtree:not(:last-child) {
    margin-right: 20px;
}

.subtree::before {
    content: '';
    height: 2px;
    background: var(--foreground);
    width: 100%;
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-menu {
    display: none;
    position: absolute;
    box-shadow: 1px 1px 2px #888;
    border: solid 1px #ccc;
    background-color: var(--context-menu-background);
    padding: 2px;
    z-index: 1000;
}

#custom-context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#custom-context-menu ul li {
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

#custom-context-menu ul li:hover {
    background-color: var(--highlighted-tree);
}

.tooltip:not(.tooltip .tooltip) {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--foreground);
}

.tooltip .tooltip-text {
    visibility: hidden;
    background-color: var(--context-menu-background);
    color: var(--foreground);
    border: var(--input-outline) solid 1px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip > div {
    display: inline;
}

.error-origin {
    color: var(--red);
}

.error-child {
    color: var(--orange);
}

.error-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--red);
    color: var(--background);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.error-message.fade-in {
    opacity: 1;
    visibility: visible;
}

.error-message.fade-out {
    opacity: 0;
    visibility: hidden;
}

.expr-selector-container {
    display: inline-flex;
    position: relative;
}

.expr-selector-input {
    margin: 0;
    border-radius: 3px 0 0 3px;
}

.expr-selector-button {
    margin: 0;
    border: var(--input-outline) solid 1px;
    border-radius: 0 3px 3px 0;
}

.expr-selector-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--context-menu-background);
    color: var(--foreground);
    border: var(--input-outline) solid 1px;
    z-index: 1;
}

.expr-selector-dropdown > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.expr-selector-option {
    cursor: pointer;
    padding: 5px;
    text-align: left;
    z-index: 100;
}

.expr-selector-option.highlight {
    background-color: var(--highlighted-tree);
}
