@import '../abstracts/colours';

#controls {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 10px;
  width: 100%;

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    color: $link-text;
  }
}

div.control-group {
  margin: 0 0.2rem;
  background-color: $semi-background;
  border: 2px solid $input-outline;
  border-radius: 2px;
  box-shadow: 0 0 0.3rem $input-outline;
  padding: 2px 5px;
  height: fit-content;
  width: max-content;
  flex-shrink: 0;
  max-height: 10rem;
}

.control-group {
  form {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      align-items: center;
    }
  }
}
