@import '../abstracts/colours';

#controls {
  display: flex;
  margin-bottom: 10px;

  > div {
    margin: 0 10px 0 0;
    background-color: $semi-background;
    border: 2px solid $input-outline;
    border-radius: 2px;
    padding: 2px 5px;
    height: fit-content;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    color: $link-text;
  }
}
