@import '../abstracts/colours';

#controls {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 10px;
  width: 100%;

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    color: $link-text;
  }
}

div.control-group {
  margin: 0 0.2rem;
  background-color: $semi-background;
  border: 2px solid $input-outline;
  border-radius: 2px;
  box-shadow: 0 0 0.3rem $input-outline;
  padding: 2px 5px;
  height: fit-content;
  width: max-content;
  flex-shrink: 0;
  max-height: 10rem;
}

#mode-selector-div {
  form {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      align-items: center;
    }

    input[type="radio"] {
      margin: 0 0.5rem 0 0;
      appearance: none;

      font: inherit;
      color: $foreground;
      background-color: $current-line;
      border: $input-outline solid 1px;
      border-radius: 50%;

      width: 1em;
      height: 1em;

      display: grid;
      place-content: center;

      &::before {
        content: "";
        width: 0.5em;
        height: 0.5em;
        margin: 0.2em;
        border-radius: 50%;
        background-color: $foreground;
        //box-shadow: 0 0 0.2em $foreground;

        transition: transform 0.1s;
        transform: scale(0);
      }

      &:checked::before {
        transform: scale(1);
      }

      &:hover {
        border: $foreground solid 1px;
      }
    }
  }
}
