@use "../abstracts/colours";
@use "../components/modal_display";

#export-output-container {
  flex-direction: column;
  width: 80%;
  height: 80%;

  display: flex;

  #export-output-title {
    font-size: 1.875rem;
  }

  #export-output-desc {
    color: colours.$comment;
    &.visible {
      display: block;
    }
    &:not(.visible) {
      display: none;
    }
  }

  #export-output {
    resize: none;
    height: 100%;
    background-color: colours.$tree-background;
    color: colours.$foreground;
  }

  #export-output-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;

    button {
      margin-left: 10px;
      padding: 5px;
    }
  }
}
