@use "../abstracts/colours";

.example-outer {
  border: 1px solid colours.$foreground;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;

  position: relative;
  width: fit-content;
  max-width: 100%;
}

#guide {
  max-width: 65ch;
  margin: 0 auto;
  padding-bottom: 2rem;

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
  }
}
