@use "../abstracts/colours";

.example-outer {
  border: 1px solid colours.$foreground;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;

  position: relative;
  width: fit-content;
  max-width: 100%;
}

#guide {
  max-width: 65ch;
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;

  box-shadow: colours.$input-outline 0 0 1rem 1rem;

  max-height: none;
  height: auto;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  p, ul {
    margin: 0 0 0.5em 0;
  }
}
