@use "../abstracts/colours";

.parse-preview {
  position: absolute;
  z-index: 999;

  transform: translateY(calc(-100% - 0.5rem));

  background-color: colours.$semi-background;
  border: 1px solid colours.$input-outline;
  border-radius: 0.1rem;
  pointer-events: none;

  padding: 0.2rem;

  &:not(.show) {
    opacity: 0;
  }
}
