@use "../abstracts/colours";

#tree-container {
  border: colours.$input-outline solid 1px;
  background-color: colours.$tree-background;
  box-shadow: colours.$input-outline 0 0 0.4rem;
  width: 100%;
  height: 100%;
  min-height: 100px;
  overflow: clip;

  z-index: 10;

  &.file-drag-highlight {
    border: 2px dashed #4CAF50;
    background-color: #49494d;
  }
}

#tree {
  width: max-content;
  overflow: visible;
  white-space: nowrap;
}

.subtree {
  display: flex !important;
  flex-direction: column-reverse;
  align-items: center;
  align-self: flex-end;
  position: relative;
  border-radius: 3px;

  .args {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &::before {
    content: '';
    height: 2px;
    background: colours.$foreground;
    width: 100%;
    position: absolute;
    bottom: 1.4em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .annotation-axiom, .annotation-new {
    font-size: 0.75rem;
    color: colours.$comment;

    &.annotation-axiom {
      align-self: end;
    }

    &.annotation-new {
      align-self: flex-end;
    }
  }

  .drag-highlight {
    border: 2px dashed colours.$green;
    background-color: colours.$highlighted-tree;
  }
}

.highlight {
  background-color: colours.$highlighted-tree;
}

.node {
  display: inline-flex !important;
  margin-top: 0.5em;
  align-items: flex-end;
  justify-content: space-between;

  .expr, .type {
    display: inline;
    span, div {
      display: inline;
    }
    //:not(.expr-selector-container) {
    //  div {
    //    display: inline;
    //  }
    //}
  }

  div.scoped-variables {
    display: inline-flex;
  }
}

.value-highlighting-enabled {
  .value {
    color: colours.$value-colour;
  }

  .value-type {
    color: colours.$value-type-colour;
  }
}

.error-origin {
  color: colours.$red;
}

.error-child {
  color: colours.$orange;
}
