:root
  color-scheme: light dark

// Color scheme
$tree-background: light-dark(#e6e6e6, #282a36)
$outer-background: light-dark(#f8f9fa, #21222c)
$semi-background: light-dark(#e9ecef, #242530)
$controls-background: light-dark(#dee2e6, #191a21)
$current-line: light-dark(#d3d9e3, #44475a)
$foreground: light-dark(#2c2c2c, #f8f8f2)
$comment: light-dark(#6c757d, #6272a4)
$cyan: light-dark(#007bff, #8be9fd)
$green: light-dark(#1a6e2d, #50fa7b)
$orange: light-dark(#fd7e14, #ffb86c)
$pink: light-dark(#e83e8c, #ff79c6)
$purple: light-dark(#6f42c1, #bd93f9)
$red: light-dark(#dc3545, #ff5555)
$yellow: light-dark(#868e37, #f1fa8c)
$link-text: light-dark(#007bff, #8be9fd)

// Additional UI colors
$highlighted-tree: light-dark(#adb5bd, #52566c)
$input-outline: light-dark(#292935, #14141a)
$disabled-input: light-dark(#f1f3f5, #2c2e3b)
$disabled-input-text: light-dark(#6c757d, #b6b7b6)
$disabled-input-highlighted: light-dark(#c4c7d0, #4f5169)
$highlighted-input: light-dark(#d4edda, #3c4e46)
$highlighted-input-text: $foreground
$success-background: light-dark(#b9e8c4, #1c532b)
$hover-background: light-dark(#e2e6ea, #4e526a)
$table-border: light-dark(#3f4042, #b8c0c3)

// Context menu
$context-menu-border: light-dark(#e0e0e0, #ccc)
$context-menu-box-shadow: light-dark(#d6d8db, #888)
$context-menu-background: $current-line

// Value colors
$value-colour: $green
$value-type-colour: $yellow
