@use "../abstracts/colours";

button {
  background-color: colours.$current-line;
  color: colours.$foreground;
  border: colours.$input-outline solid 2px;
  border-radius: 3px;
  padding: 2px;
  font-family: 'Roboto', sans-serif;
  user-select: none;

  &:disabled {
    background-color: colours.$disabled-input;
    color: colours.$disabled-input-text;
  }

  &:active {
    background-color: colours.$highlighted-tree;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}
