@use "../abstracts/colours";
@use "../abstracts/no_user_select";

.custom-menu {
  display: none;
  position: absolute;
  box-shadow: 1px 1px 2px colours.$context-menu-box-shadow;
  border: solid 1px colours.$context-menu-border;
  background-color: colours.$context-menu-background;
  z-index: 1000;
}

#custom-context-menu {
  @include no_user_select.no_user-select;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px;
      text-align: left;

      &:not([disabled]) {
        cursor: pointer;

        &:hover {
          background-color: colours.$highlighted-tree;
        }
      }

      &[disabled] {
        background-color: colours.$disabled-input;
        cursor: not-allowed;
      }

      &:not(:first-child) {
        border-top: 1px solid colours.$context-menu-border;
      }
    }
  }
}
