.custom-menu {
  display: none;
  position: absolute;
  box-shadow: 1px 1px 2px $context-menu-box-shadow;
  border: solid 1px $context-menu-border;
  background-color: $context-menu-background;
  padding: 2px;
  z-index: 1000;
}

#custom-context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 10px;
    text-align: left;

    &:not([disabled]) {
      cursor: pointer;
      &:hover {
        background-color: $highlighted-tree;
      }
    }

    &[disabled] {
      background-color: $disabled-input;
      cursor: not-allowed;
    }

    &:not(:first-child) {
      border-top: 1px solid $context-menu-border;
    }
  }
}
