@use "../abstracts/colours";

.dropdown-selector-container {
  display: inline-flex;
  position: relative;

  &.focused {
    box-shadow: -1px 0 2px 1px colours.$foreground, 0 -1px 2px 1px colours.$foreground, 1px 0 2px 1px colours.$foreground, 0 1px 2px 1px colours.$foreground;
    border-radius: 3px;
  }

  &.guide-highlight {
    input, button {
      background-color: colours.$highlighted-input;
      color: colours.$highlighted-input-text;
    }
  }

  input[type="text"]:not(.identifier-lookup) {
    margin: 0;
    border-radius: 3px 0 0 3px;
    outline: none;
  }

  button {
    margin: 0;
    border: colours.$input-outline solid 1px;
    border-radius: 0 3px 3px 0;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: colours.$context-menu-background;
    color: colours.$foreground;
    border: colours.$input-outline solid 1px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
    pointer-events: bounding-box;

    overflow-x: hidden;
    overflow-y: auto;
    max-height: 20rem;

    &.show {
      display: block;
    }

    &:not(.show) {
      display: none !important;
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;
        padding: 0.2rem;
        text-align: left;
        z-index: 100;
        font-style: normal;

        &.highlight {
          background-color: colours.$highlighted-tree;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
          font-weight: bold;
        }

        &.hidden {
          display: none;
        }

        &:hover {
          background-color: colours.$hover-background;
        }
      }
    }
  }
}
