@use 'custom_dropdown';
@use "../abstracts/colours";


div.expr-selector-container {
  display: inline-flex !important;
}

div.expr-selector-placeholder {
  border: colours.$input-outline solid 1px;
  border-radius: 3px;
  padding: 0 2px;
  background-color: colours.$disabled-input;
  color: colours.$disabled-input-text;
  cursor: not-allowed;
}
