@use "../abstracts/colours";
@use "../base/typography";

form {
  display: inline;
}

@mixin textbox-base {
  background-color: colours.$current-line;
  color: colours.$foreground;
  border: colours.$input-outline solid 1px;
  border-radius: 3px;
  padding: 0 2px;
  @include typography.monospace;
  height: 1.4rem;
  font-size: 1.1rem;

  &:disabled {
    background-color: colours.$disabled-input;
    color: colours.$disabled-input-text;
    cursor: not-allowed;
  }
}

input[type='text'] {
  @include textbox-base;
}

input[type='number'] {
  @include textbox-base;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  -moz-appearance: textfield;
}

.custom-input {
  margin: 0 0.5rem 0 0;
  appearance: none;

  font: inherit;
  color: colours.$foreground;
  background-color: colours.$current-line;
  border: colours.$input-outline solid 1px;

  width: 1em;
  height: 1em;

  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    margin: 0.2em;
    background-color: colours.$foreground;
  }

  &:hover {
    border: colours.$foreground solid 1px;
  }
}

input[type="radio"] {
  @extend .custom-input;
  border-radius: 50%;

  &::before {
    border-radius: 50%;

    transition: transform 0.1s;
    transform: scale(0);
  }

  &:checked::before {
    transform: scale(1);
  }
}

input[type="checkbox"] {
  @extend .custom-input;
  border-radius: 10%;

  &::before {
    border-radius: 10%;

    transition: opacity 0.1s;
    opacity: 0;
  }

  &:checked::before {
    opacity: 1;
  }
}

select {
  background-color: colours.$current-line;
  color: colours.$foreground;
  border: colours.$input-outline solid 1px;
  border-radius: 3px;
  padding: 0.2rem;
  font-size: 1.1rem;

  &:disabled {
    background-color: colours.$disabled-input;
    color: colours.$disabled-input-text;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

label, .prevent-select, #tree :not(input) {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a.event-link {
  text-decoration: underline;
  cursor: pointer;
}
