div.literal-checkbox-container {
  input[type="checkbox"].literal.boolean {
    //background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    //max-width: 1em;
    width: 1.4rem;
    height: 1.4rem;
    aspect-ratio: 1/1;
    margin-right: 0;

    &::before {
      opacity: 0;
    }
  }
  //
  //&::after {
  //  content: "F";
  //  color: $red;
  //
  //  aspect-ratio: 1;
  //
  //  border: 1px solid $input-outline;
  //  background: $foreground;
  //}
}

//div.literal-identifier-container {
//  //background:  $foreground;
//
//  ul.identifier-suggestions {
//    position: absolute;
//    //top: 100%;
//    //left: 0;
//    width: 100%;
//
//    list-style: none;
//    margin: 0;
//    padding: 0;
//    max-height: 10rem;
//    overflow-y: auto;
//    z-index: 50;
//    display: none;
//
//    background: $context-menu-background;
//    border: $input-outline solid 1px;
//    border-radius: 0.1rem;
//
//    li {
//      padding: 0.5rem;
//      cursor: pointer;
//
//      color: $foreground;
//
//      &:hover {
//        background: $hover-background;
//      }
//    }
//  }
//}
