@import '../abstracts/_colours';

div#tasks.control-group {
  overflow-y: scroll;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: auto;
  margin-right: 0;

  div.task {
    border: 1px solid $input-outline;
    border-radius: 0.2rem;

    margin: 0.1rem;
    padding: 0.2rem;

    background-color: $tree-background;
    box-shadow: 0 0 0.3rem $input-outline;

    h3 {
      font-size: 1.1rem;
      margin: 0;
    }

    p.description {
      margin: 0;
      font-size: 0.9rem;
    }

    &.fulfilled {
      background-color: $success-background;

      &:not(:hover) {
        p.description {
          display: none;
        }
      }
    }
  }
}
