@use "../abstracts/colours";

.tooltip {
  .tooltip-text {
    visibility: hidden;
    background-color: colours.$context-menu-background;
    color: colours.$foreground;
    border: colours.$input-outline solid 1px;
    text-align: center;
    border-radius: 6px;
    padding: 2px 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  div {
    display: inline;
  }

  &:not(.tooltip .tooltip) {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed colours.$foreground;
  }
}
